.belt.white(ng-hide='color != "white"')
.belt.green(ng-hide='color != "green"')
.belt.yellow(ng-hide='color != "yellow"')
.belt.blue(ng-hide='color != "blue"')
.belt.red(ng-hide='color != "red"')
.belt.brown(ng-hide='color != "brown"')
.belt.black(ng-hide='color != "black"')
